body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box
{
    padding:20px;
    width: 390px;
}

#display
{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
    padding: 5px;
    border: 1px solid rgb(233, 231, 231);
        border-radius: 10px;

}
.buttons
{
    display: grid;
    grid-template-columns: repeat(4,90px);
    gap: 10px;
}
button{
    height: 50px;
    
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
        border: 1px solid rgb(233, 231, 231);

}
.zero
{
    grid-column: span 2;
}